<div class="main">
  <header class="header">
    <ul class="menu" #menu>
      <img src="../assets/logo.svg" alt="" class="logo">
      <li class="menu__item">
        <a class="menu__link">I'm a business</a>
      </li>
      <li class="menu__item">
        <a class="menu__link">I'm a shopper</a>
      </li>
      <li class="menu__item">
        <a class="menu__link">About Pargo</a>
      </li>
      <li class="menu__item">
        <a class="menu__link">Pickup points</a>
      </li>
    </ul> 
    <button class="button">TRACK</button>
    <button class="button2">LOGIN</button>
  </header>
  <section class="first-section">
    <div class="info">
      <h1 class="heading-1">
        Revolutionising <span style="color: #fff">Logistics</span> Through Innovative <span style="color: #fff">Delivery</span> Solutions
      </h1>
      <p class="paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia adipisci
        deserunt eaque.
      </p>
      <a class="btn btn--start">ENQUIRE NOW</a>
    </div>
    <div class="visuals">
      <div class="image-container">
        <img
          #imageFirst
          src="../assets/image4.jpg"
          alt=""
        />
      </div>
      <div class="image-container">
        <img
          #imageSecond
          src="../assets/image2.jpg"
          alt=""
        />
      </div>
    </div>
  </section>
  <section class="second-section" #secondSection>
    <div class="info-1">
      <div class="info-1__visual">
        <img src="../assets/image5.jpg" alt="">
      </div>
      <div class="info-1__text">
        <span class="quote">
          <h2 class="heading-3">
            MAKING ONLINE SHOPPING EASY
          </h2>
        </span>
        <div class="space_medium"></div>
        <p class="paragraph">
          Pargo is the leading click-and-collect and 
      returns solution for online and omni-channel businesses.
        </p>
        <a class="btn--learn">Learn More</a>
      </div>
    </div>
  </section>
  <div class="space_small"></div>
  <section class="inview_container txt_cta">
    <div class="container-fluid">
      <div class="row-txt_center">
        <div class="col-md-3">
          <div class="home-numbers">
            <br>
            <strong class="txt-large">
              37
              <span>%</span>
            </strong>
            <br>
            <small>
              of online shoppers use Click and Collect if available to them
            </small>
            <div class="space_default"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="home-numbers">
            <strong class="txt-large">
              37
              <span>%</span>
            </strong>
            <br>
            <small>
              of online shoppers use Click and Collect if available to them
            </small>
            <div class="space_default"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="home-numbers">
            <strong class="txt-large">
              37
              <span>%</span>
            </strong>
            <br>
            <small>
              of online shoppers use Click and Collect if available to them
            </small>
            <div class="space_default"></div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="home-numbers">
            <strong class="txt-large">
              37
              <span>%</span>
            </strong>
            <br>
            <small>
              of online shoppers use Click and Collect if available to them
            </small>
            <div class="space_default"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="space_large"></div>
  </section>
  <section class="colr_5 shadow_inner_top">
    <div class="space_large"></div>
    <br>
    <h3 class="txt_center">These companies already use us:</h3>
    <div class="space_large"></div>
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-md-offset-1">
          <img src="../assets/cape-union-mart-logo.jpg" alt="">
        </div>
        <div class="col-md-2">
          <img src="../assets/clicks-logo.jpg" alt="">
        </div>
        <div class="col-md-2">
          <img src="../assets/FNB-Logo.png" alt="">
        </div>
        <div class="col-md-2">
          <img src="../assets/Media24-logo.png" alt="">
        </div>
        <div class="col-md-2">
          <img src="../assets/loot-logo.png" alt="">
        </div>
      </div>
      <br>
      <div class="space_large"></div>
    </div>
  </section>
</div>
